h1,
h2,
h3,
h4,
h5,
p,
a,
summary,
details,
button,
label,
small,
head,
footer {
    font-family: "Kiwi Maru", serif;
    font-weight: $regular;
    list-style: unset;
    text-decoration: none;
    color: black;
}


h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

p {
    font-size: $p-size;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;

}


.white {
    color: $green;
}

.bold {
    font-weight: bold;
}

// 網站邊距
main {
    padding: 0 10vw;
}

// 網站每部分上下間隔距離
header,
section {
    padding: 10vh 0;
}


html {
    scroll-behavior: smooth;
}