@import 'variables';
@import 'function';
@import 'reset';



// 共同區
button {
	font-size: 1rem;
	border-radius: 50px;
	padding: 10px;
	background-color: white;
}

h2 {
	font-weight: $bold;
	width: fit-content;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	/* Centers the element horizontally */
}


//導覽列樣式
.navbar {
	color: $dark;
	display: flex;
	height: 5vh;
	justify-content: space-between;
	padding: 20px 50px;
	background: $lightgreen;
	background: linear-gradient(180deg, $green ) 4%, rgba(225, 238, 137, 0.5130646008403361) 63%, rgba(248, 255, 203, 0.05368084733893552) 96%;

	ul {
		display: flex;
		list-style-type: none;
		gap: 5vw;
	}

	img {
		width: 4vw;


	}

	// 測驗按鈕
	.test {
		height: 4vh;
		width: 8vw;
		border: 2px solid $green;
		border-radius: 4vh;
		background-color: white;

		&:hover {
			background-color: $green;
			color: white;
			transition: .2s ease-in;
			border: $dark solid;
		}
	}
}

header {

	.container,
	.subheading {
		display: block;
		position: relative;
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		padding: 0 20px;
		box-sizing: border-box;


		.block {
			background-color: $dark;
			width: 100%;
			height: 2px;
			margin-bottom: 20px;
		}

		.white {
			color: $green;
		}
	}
}

// 首頁泡泡


// 名言
.quotes {

	p {
		display: flex;
		justify-content: center;

	}
}


// 首圖
#front {
	display: block;
	.front {
		display: flex;
		padding: 10vh 20vw;
		justify-content: space-between;

		img {
			width: 20vw;
		}

		.frontcard {
			display: inline;
		}

		.bubbles {
			position: relative;
			width: 100vw;
			height: 100vh;
			overflow: hidden;
			z-index: -1;
		}
	}
}

// 舉例
.example {
	.example {
		display: flex;
		padding: 5vh 10vw;
		justify-content: space-between;

		.reading,
		.focus,
		.sleep {
			text-align: center;
			margin: 2vw;
			width: 100%;
			max-width: 50vw;
			display: block;

			img {
				height: 100%;
				max-height: 60vh;
			}
		}
	}
}

// 身份
.identity {

	.who {
		display: flex;
		padding: 5vh 10vw;
		justify-content: space-between;
	}
}

// 相關文章
.post {
	.postH2 {
		display: flex;
	}

	.content {
		display: flex;
		padding: 5vh 10vw;
		justify-content: space-between;
	}
}



// 頁底
footer {
	background-color: $lightgreen;

	small {
		display: flex;
		justify-content: center;
		padding: 2vh 0;
	}
}