//字級
$h1-size: 3.6rem;
$h2-size: 3rem;
$h3-size: 2.4rem;
$h4-size: 2rem;
$h5-size: 1.8rem;
$p-size: 1.2rem;

//字重

$light: 300;
$regular: 400;
$bold: 500;

// 字體
$font: "Kiwi Maru", serif;